@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Patua+One&display=swap");

$secondaryFont: "Patua One", cursive;
$primaryFont: "Maven Pro", sans-serif;

h1 h2 h3 h4 h5 {
  font-family: $primaryFont;
}

body {
  font-family: $primaryFont;
}

.App {
  height: 100%;
  width: 100%;
}

.testing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: beige;
}

span {
  height: 5px;
  width: 50px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 8px;
  display: block;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-right: 2rem;
  right: 0;
  width: auto;
  height: auto;
}

#top {
  transform-origin: bottom left;
}

#bottom {
  transform-origin: bottom right;
  margin-bottom: 0px;
}
.side-menu {
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: orange;
  position: absolute;
  height: 100%;
  width: 35%;
  ul {
    list-style: none;
  }

  li {
    margin-bottom: 5px;
  }
}
