span {
  height: 5px;
  width: 50px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 8px;
  display: block;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger {
  position: absolute;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
